@import url(/src/index.scss);

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container {
  @include flex-column-center;
  max-width: 63rem;
  height: fit-content;
  margin: 0 auto;
  margin-top: 3rem;
  

  .about-content-container {
    @include flex-column-center;
    gap: 3rem;
    margin-top: 4rem;
    padding: 0 1rem;

    @media (min-width: 1200px) {
        flex-direction: row;
       
    }

    .about-content {
      order: 2;
      height: fit-content;
      flex-basis: 55%;
      text-align: center;
      font-size: var(--fs-content);

      @media (min-width: 1200px) {
        order: 1
       
    }

    }

    .about-image-container {
      order: 1;
      height: fit-content;

      position: relative;
      flex-basis: 40%;

      @media (max-width: 1999px) {
        transform: translateX(-10px)
      }

      @media (min-width: 1200px) {
        order: 2;

    }

      & * {
        max-width: clamp(12.5rem, 7.5051rem + 20.4918vw, 25rem);
      }

      .first-img {
        clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
      }

      .first-img-animation {
        animation: wipe-down 1s ease-out 200ms forwards;
      }

      .second-img {
        position: absolute;
        top: -40px;
        left: 60px;
        clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
      }

      .second-img-animation {
        animation: wipe-left 1s ease-out 1.2s forwards;
      }
    }
  }

  a {
   
    margin-top: clamp(2rem, 0.8012rem + 4.918vw, 5rem);
  }
}

@keyframes wipe-down {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes wipe-left {
  0% {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

// @keyframes fadeInDown {
//     from {
//       opacity: 0;
//       -webkit-transform: translate3d(0, -100%, 0);
//       transform: translate3d(0, -100%, 0);
//     }
//     to {
//       opacity: 1;
//       -webkit-transform: none;
//       transform: none;
//     }
//   }
