@import url(/src/index.scss);

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  

.about-container {
    max-width: 70rem;
    height:70rem;
    margin: 0 auto;
    margin-top: clamp(2rem, 0.8012rem + 4.918vw, 5rem);
    @include flex-column-center;


   

    .about-content-container {
        display: flex;
        margin-top: 4rem;

        .about-content {
            flex-basis: 55%;
            text-align: right;
            font-size: var(--fs-content) !important;
        }

        .about-image-container {
            position: relative;
            flex-basis: 40%;
            margin-left: 2rem;


            .second-img {
                position: absolute;
                top: -40px;
                left: 60px;

                animation: show 800ms ease-in-out;
            }
        }

    }
}


@keyframes show {
    from {
      height: 0%;
      width: 100%;
    }
    to{
      // height: 100%;
      height: 100%;
      width: 100%;
    }
  }


// @keyframes fadeInDown {
//     from {
//       opacity: 0;
//       -webkit-transform: translate3d(0, -100%, 0);
//       transform: translate3d(0, -100%, 0);
//     }
//     to {
//       opacity: 1;
//       -webkit-transform: none;
//       transform: none;
//     }
//   }
