@import url('/src/index.css');

header {
    position: relative;
    background-image: url('/images/hero-bg-mobile.jpg');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: clamp(40rem, 33.207rem + 27.8689vw, 57rem);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  

  
    @media (min-width: 768px) {
      background-image: url('/images/heroImg.jpg');
      
    }
  
    .logo {
      width: clamp(14rem, 7.6066rem + 26.2295vw, 30rem);
    }

    .down-icon {
        position: absolute;
        bottom: 0;
        margin-bottom: -1.2px;

        @media (max-width: 768px) {
            transform: scale(0.8);
            margin-bottom: -10px;
        }

    }
  }
  