@import url("/src/index.scss");

nav {
  display: flex;
  width: 90%;
  height: clamp(3rem, 2.6004rem + 1.6393vw, 4rem);
  background: rgba(15, 29, 32, 0.3);
  backdrop-filter: blur(6px);
  padding: 0 1rem;
  position: absolute;
  top: 1rem;
  right: 50%;
  transform: translateX(50%);
  justify-content: space-around;

  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  animation: wipe-left 3s ease-out forwards;

  @media (min-width: 500px) {
    width: 31rem;
  }

  & * {
    font-size: clamp(1rem, 0.8801rem + 0.4918vw, 1.3rem);
    font-family: var(--ff-bold);
    color: white;
    cursor: pointer;
  }

  .nav-link-container {
    height: 100%;
    display: grid;
    place-items: center;

    &:hover {
        border-bottom: 2px solid white;
    }

    &:active {
        border-bottom: 2px solid white;
    }
  }
}


@keyframes wipe-left {
  0% {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}